@charset "UTF-8";

:root {
  /* 色管理用の変数 */
  --black-color: #000000;
  --white-color: #fff;
  --text-color: #363636;
  --primary-color: #ffc4f4;
  --accent-color: #ff04d1;
}

:root {
  /* コンテンツ幅管理用の変数 */
  --content-width-sm: 800px;
  --content-width: 960px;
  --content-width-lg: 1088px;
}

:root {
  /* z-index管理用の変数 */
  --z-index-back: -1;
  --z-index-default: 1;
  --z-index-header: 100;
  --z-index-menu: 150;
  --z-index-modal: 200;
}

/* ---------- base ---------- */

body {
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
  color: var(--text-color);
  font-size: 26px;
  letter-spacing: 0.1em;
}

/* クリックした際の青い枠線を削除 */
/* *:focus {
  outline: none;
} */

/* タップした際の青い四角を削除 */
/* button,
span {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: pointer;
} */

/* ---------- utility ---------- */

@media screen and (min-width: 375px) {
  .u_sm-dn {
    display: none;
  }
}

@media screen and (min-width: 1080px) {
  .u_lg-dn {
    display: none;
  }
}

/* ---------- layout ---------- */

.l_container-sm,
.l_container,
.l_container-lg {
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

.l_container-sm {
  max-width: calc(var(--content-width-sm) + 32px);
}

.l_container {
  max-width: calc(var(--content-width) + 32px);
}

.l_container-lg {
  max-width: calc(var(--content-width-lg) + 32px);
}

.l_contents {
  padding: 120px 0;
}

/* header */
.l_header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: var(--z-index-header);
  width: 100%;
  height: 72px;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.l_header-logo {
  font-weight: bold;
  color: var(--text-color); /* 文字の中の色 */
  -webkit-text-stroke: 0.5px var(--white-color);
  letter-spacing: normal;
  white-space: nowrap;
  flex-shrink: 0;
}

.l_header-logo_link {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.l_header-nav {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: var(--z-index-modal);
  background: var(--white-color);
  border: 1px solid var(--accent-color);
  margin: 5rem 1rem;
}

@media screen and (min-width: 768px) {
  .l_header-nav {
    opacity: 1;
    position: static;
    background: transparent;
    margin: 0;
    margin-left: auto;
  }
}

.l_header-nav_list {
  display: flex;
  gap: 40px;
  flex-direction: column;
  justify-content: center;
  letter-spacing: normal;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .l_header-nav_list {
    flex-direction: row;
  }
}

.l_header-nav_item {
  display: flex;
}

@media screen and (min-width: 768px) {
  .l_header-nav_item {
    -webkit-text-stroke: 1.5px var(--white-color);
    font-size: 45px;
  }
}

.l_header-nav_link {
  height: 100%;
  display: flex;
  align-items: center;
}

.l_header-nav__span {
  font-size: 20px;
  margin-right: 16px;
  width: 120px; /* ←ここが肝！ */
  text-align: right;
}

@media screen and (min-width: 768px) {
  .l_header-nav__span {
    display: none;
  }
}

.l_header-follow-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

@media screen and (min-width: 768px) {
  .l_header-follow-box {
    display: none;
  }
}

.l_header-follow-img {
  width: 32px;
  height: 32px;
}

@media screen and (min-width: 768px) {
  .l_header-imageicon {
    display: none;
  }
}
.l_header-imageicon-img {
  position: absolute;
  bottom: 0px;
  right: 10px;
  width: 150px;
  height: 150px;
}

/* main */
.l_section-title {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

.l_section-txt {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  letter-spacing: normal;
  text-align: center;
  margin-top: 8px;
}

/* footer */
.l_footer {
  background-color: var(--black-color);
  color: var(--white-color);
  padding-top: 40px;
  padding-bottom: 200px;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.l_footer_logo {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.l_footer-nav {
  padding: 30px 100px 0 100px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .l_footer-nav {
    margin-left: 140px;
  }
}

@media screen and (min-width: 1080px) {
  .l_footer-nav {
    margin-left: 200px;
  }
}

.l_footer-nav_list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.l_footer-nav__span {
  font-size: 20px;
  margin-right: 16px;
}

.l_footer_pagetop-btn-wrap {
  background-color: var(--accent-color);
  position: absolute;
  left: -20px;
  bottom: -40px;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.l_footer_illust-wrap {
  position: absolute;
  right: 5px;
  bottom: -10px;
  width: 180px;
  height: 180px;
}

/*---------- module ----------*/
.m_hamburger {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center; /* 縦中央 */
  align-items: center;
  z-index: var(--z-index-modal);
  border: none;
  cursor: pointer;
  background: var(--white-color);
  position: relative;
}

@media screen and (min-width: 768px) {
  .m_hamburger {
    display: none;
  }
}

.m_hamburger-bar {
  width: 24px;
  height: 4px;
  border-radius: 2px;
  background: var(--text-color);
  position: absolute;
}

.m_hamburger-bar:nth-child(1) {
  top: 16px;
}

.m_hamburger-bar:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.m_hamburger-bar:nth-child(3) {
  bottom: 16px;
}

/* OPENING */
.m_opening {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: var(--z-index-modal);
  background: #f5fffa;
  display: flex;
}

.m_opening_box {
  text-align: center;
  margin: auto;
}

.m_opening-logo {
  width: 200px;
  height: 200px;
}

.m_opening_heading {
  color: var(--text-color);
  font-size: 36px;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .m_opening_heading {
    font-size: 56px;
  }
}

/*---------- top ----------*/
/* KV */
.top_kv {
  height: 100vh;
  background: url("../img/KV.jpg") 35% center/cover;
}

.top_kv-inner {
  position: relative;
  height: 100%;
}

.top_kv_box {
  width: calc(100% - 16px * 2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 1080px) {
  .top_kv_box {
    width: 100%;
  }
}

.top_kv_copy {
  font-size: 70px;
  letter-spacing: normal;
  -webkit-text-stroke: 3px var(--white-color);
  line-height: 1.3;
}

@media screen and (min-width: 768px) {
  .top_kv_copy {
    text-align: center;
  }
}

.top_kv_copy-second {
  font-size: 60px;
  letter-spacing: normal;
  -webkit-text-stroke: 3px var(--white-color);
  line-height: 1.3;
  text-align: center;
}

.top_kv_copy-third {
  font-size: 70px;
  letter-spacing: normal;
  -webkit-text-stroke: 3px var(--white-color);
  line-height: 1.3;
  text-align: center;
}

/* main section */
.top_message_section {
  background: url("../img/background.png");
  background-size: 768px auto; /* ← 画像1枚のサイズ */
  background-size: cover;
  background-position: center;
}

.top_message_wrap {
  background-color: var(--white-color);
  margin: 0 16px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  border: 3px solid var(--accent-color);
  border-radius: 20px;
}

@media screen and (min-width: 768px) {
  .top_message_wrap {
    width: 60%;
    margin: 0 auto;
  }
}

.top_message_box {
  padding: 32px 22px;
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  line-height: 1.8;
}

.top_message_sub-copy {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: normal;
}

.top_message_main-copy {
  font-size: 30px;
  font-weight: bold;
}

.top_messsage_last-copy {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: normal;
}

.top_message_photo-box {
  margin-top: 70px;
}

.top_message-photo-wrap {
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .top_message-photo-wrap {
    width: 60%;
  }
}

.top_message-photo {
  border: 1px solid var(--white-color);
}

.top_pagetop_btn {
  position: relative;
  text-align: center;
}

.top_pagetop_btn::after {
  content: "";
  position: absolute;
  left: 30%;
  top: -90%;
  width: 8px;
  height: 8px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-radius: 4px;
  border-bottom: 12px solid var(--white-color);
}

/*---------- movie ----------*/
/* main */
.movie_section {
  background-color: var(--primary-color);
}

.movie_video-wrap {
  width: 100%;
  position: relative;
  padding-top: 56.25%;
  margin-top: 20px;
}

.movie_video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*---------- letter ----------*/
.letter_section {
  background-color: var(--primary-color);
}

.letter_letter-wrap {
  width: 100%;
  margin-top: 20px;
  padding: 30px 3px;
  background-color: var(--white-color);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

@media screen and (min-width: 768px) {
  .letter_letter-wrap {
    width: 80%;
    margin: 0 auto;
  }
}

.letter_letter-txt {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.8;
  color: var(--black-color);
  padding: 10px 10px;
}

/*---------- history ----------*/
.history_section {
  background-color: var(--primary-color);
}

.history_contents {
  margin-top: 20px;
}

.history_content {
  background-color: var(--white-color);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  padding: 8px;
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@media screen and (min-width: 768px) {
  .history_content {
    width: 80%;
    margin: 0 auto;
  }
}

.history_txt-wrap {
  margin: 10px 5px;
}

.history-date {
  font-size: 18px;
  font-weight: bold;
}

.history_content-ttl {
  font-size: 20px;
  font-weight: bold;
  display: inline;
  line-height: 0.5;
  letter-spacing: normal;
  background: linear-gradient(transparent 80%, #9999ff 80%);
}

.history_content-txt {
  font-size: 16px;
  line-height: 1.6;
}

.history_slide-items_wrap {
  width: 100%;
  height: 100%;
  margin: auto;
}

.history_slide-items {
  display: flex; /* ← 横並び */
  gap: 12px;
  overflow-x: auto; /* ← 横スクロール */
  scroll-snap-type: x mandatory; /* ← カチッと止まる */
  -webkit-overflow-scrolling: touch;
  padding-bottom: 8px;

  /* スクロールバー非表示（iOS向け） */
  scrollbar-width: none;
}

.history_slide-items::-webkit-scrollbar {
  display: none;
}

.history_slide-items_item {
  flex-shrink: 0; /* ← 絶対大事 */
  width: 85%; /* ← インスタっぽさ */
  aspect-ratio: 4 / 5;
  scroll-snap-align: start;
}

/* 画像本体 */
.history_slide-items_photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.history_slide-items_item.is-contain .history_slide-items_photo {
  object-fit: contain;
  background: #ffcccc; /* 余白をやさしく */
}

/* コンティニュー */
.history_continue-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.history_continue-img-wrap {
  width: 45%;
  height: 45%;
}

@media screen and (min-width: 768px) {
  .history_continue-img-wrap {
    width: 30%;
    height: 30%;
  }
}

.history_continue-txt-box {
  background-color: var(--accent-color);
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  position: relative;
}

@media screen and (min-width: 768px) {
  .sp_br {
    display: none;
  }
}

.history_continue-txt-box::before {
  content: "";
  position: absolute;
  border: 10px solid transparent;
  border-right: 10px solid var(--accent-color);
  left: -20px;
}

.history_continue-txt {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: normal;
  color: var(--white-color);
}

.history_continue-box2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 10px;
}

.history_continue-img-wrap2 {
  width: 25%;
  height: 25%;
}

.history_continue-txt-box2 {
  background-color: var(--accent-color);
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  position: relative;
}

.history_continue-txt-box2::before {
  content: "";
  position: absolute;
  border: 10px solid transparent;
  border-left: 10px solid var(--accent-color);
  right: -20px;
}

.history_continue-txt2 {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: normal;
  color: var(--white-color);
}

/* last */
.history_last-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.history_last-img-wrap {
  width: 40%;
  height: 40%;
}

@media screen and (min-width: 768px) {
  .history_last-img-wrap {
    width: 25%;
    height: 25%;
  }
}

.history_last-txt-box {
  background-color: #99ffff;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  position: relative;
}

.history_last-txt-box::before {
  content: "";
  position: absolute;
  border: 10px solid transparent;
  border-left: 10px solid #99ffff;
  right: -20px;
}

.history_last-txt {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: normal;
  color: var(--text-color);
}

/* ---------- js ---------- */
.js_body.is-active {
  overflow: hidden;
}

.js_navigation {
  opacity: 0;
  pointer-events: none;
  transform-origin: center;
  transform: scale(0.5);
  transition: all 0.3s ease;
}

@media screen and (min-width: 768px) {
  .js_navigation {
    opacity: 1;
    pointer-events: auto;
    position: static;
  }
}

.js_navigation.is-active {
  opacity: 1;
  pointer-events: auto;
  opacity: 1;
  transform: scale(1);
}

.js_hamburger-bar {
  transition:
    top 0.24s,
    transform 0.24s,
    opacity 0.24s;
}

.js_hamburger.is-active {
  background: var(--text-color);
}

.js_hamburger.is-active .js_hamburger-bar {
  background: var(--white-color);
}

.js_hamburger.is-active .m_hamburger-bar:first-child {
  top: 50%;
  transform: translateY(-50%) rotate(135deg);
}

.js_hamburger.is-active .m_hamburger-bar:nth-child(2) {
  transform: translate(50%, -50%);
  opacity: 0;
}

.js_hamburger.is-active .m_hamburger-bar:nth-child(3) {
  top: 50%;
  transform: translateY(-50%) rotate(-135deg);
}
